*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.calculadora{
    background-color: #1c5886;
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 400px;
    max-width: 100%;
    padding: 1.5rem;
    gap: .5rem;
    border-radius: 10px;

}
.display{
    grid-column: 1/5;
    background-color: #0f3d5c;
    padding: 1.5rem;
    text-align: right;
    border-radius: 10px;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: white;
}